@font-face {
  font-family: 'Jones-Medium';
  font-style: normal;
  font-weight: bold;
  src: local('Jones-Medium'), url('static/fonts/Jones-Medium.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'Jones-Medium'!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}